.App {
  text-align: center;
  /* margin: 0 auto;
  display: grid; */
}

.encrypt-body {
  /* display: grid; */
  /* max-width: 300px; */
  margin: 0 auto;
  padding: 10px;
  /* border: solid 1px salmon; */
}

.header {
  font-size: 25px;
  padding: 22px;
}

table {
  margin: 0 auto;
  border: 1px solid black;
}

td {
  width: 10vw;
  /* border: 1px solid black; */
}

.data-display {
  float: left;
  padding: 10px;
}

.encrypted-message-data-display {
  border: solid 1px black;
}
