.transmutation-component {
    display: grid;
}

.transmutation-body {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

/* .transmutation-body {
    
    max-width: 200px;
} */

.pending-swap-container {
    display: grid;
    /* margin: 0 auto; */
    /* max-width: 200px; */
}